<h1>IM COMING HOME</h1>
<p> this will be the page for problem sets, also the home page.</p>
<br>
<p> so for now im a TODO list</p>
<br>
<ul>
  <li> removed admin panel and solution upload DB CONNECTION to fix bugs, but it exists - file attach.</li>
  <li> need to add problem set creation. will come from admin. Judges will just see submissions.probly a similar setup to solution upload</li>
  <li> slight rollbacks on other db related stuff because I wasnt sure what was broken.</li>
  <br>
  <br>
  <li> admins  #tougher than i imagined✓</li>
  <li> admins will have access to upload problems/judge, but i might split the two but for now they are 1✓ 1/2 point still need to fix security on the admin panel</li>
  <li> fix part of the model // primarily leaderboard</li>
  <li> drink less caffeine✓</li>
  <li> make it look pretty</li>
  <li> try to fix issues with routing that i inevitably cause....... again.......✓</li>
  <li> #TODO ComboBox, kinda requires problem db up and running</li>

</ul>