
<h1 class="problems-main-title" style="color: #331E56"> Problems page</h1>

  <div class="problems-div">
  <%probs = Problem.all    %>
  <%i = probs.size %>
  <%x = 0%>
  <% while x< i  %>
    <div class="panel panel-default rounded-corners">
      <div class="panel-heading rounded-corners-header"><h3>Problem <%= probs[x].id %> </h3> </div>
      <div class="panel-body">
      <h4>Problem Text</h4>
            <p class="in-line"><%=  probs[x].probText%></p>
        <h4>Sample Input: </h4>
            <p class="in-line"><%=  probs[x].input %></p>
        <h4>Sample Output:</h4>
            <p class="in-line"><%=probs[x].output%></p>
        <% x = x+1 %>

      </div>
    </div>
  <%end %>
</div>





