<%if @current_user.role.to_s != "admin"  %>
    <script type="text/javascript">
      window.location.href="/home"  // put your correct path in a string here
    </script>
<%end%>
<h1 class='User_Header problems-main-title'> <%=@current_user.username + "'s"%> Judge Panel </h1>

<div class="problems-div">

  <div style="text-align: center; padding: 20px;">
    <%= button_to "Jenkins Start", {:controller => :sessions, :action => :poke_jenkins}, class: "btn btn-default btn-color"%>
  </div>
  <%subls = Submission.all    %>

  <%i = subls.size %>
  <%x = 0%>
      <% while x< i  %>



      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6">
            <h4>Submission ID: <%=subls[x].id.to_s%> </h4>
            <h4 style="display: inline"> Problem: <%=subls[x].problemId.to_s%></h4>
          </div>
          <div class="col-md-6">

            <%if subls[x].result == "waiting for judgement" %>
                <i class="fa fa-hourglass-half sub-icon"></i>
            <%elsif subls[x].result == "success"%>
                <i class="fa fa-check sub-icon"></i>
            <%elsif subls[x].result == "failure"%>
                <i class="fa fa-times sub-icon"></i>
            <%end%>
          </div>
        </div>
      </div>

      <% x = x+1 %>



  <%end %>
</div>